<!DOCTYPE html>
<html>
<head>
    <title>DDTalk</title>
    <link rel="stylesheet" href="/resources/css/style.css" />

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
        function addDomain(selectObject) {
            var data = {};
            data["domain"] = $(selectObject).val();

            $.post(
                    'objectivePlan/addDomain/${objectivePlan.learnerPlanId}',
                    data,
                    function(responseText) {
                        if (responseText.status === 'error') {
                            $('#notification-bar').html('<p>' + responseText.message + '<p>');
                        }
                    }
            );
        }
    </script>
</head>
<body>

<table>
    <tr>
        <td>Plan for learner</td>
    </tr>
    <tr>
        <td ><a th:href="edit + '/' + ${learner.learnerId}" th:text="${learner.lastName + ', ' + learner.firstName}"></a> </td>
    </tr>
</table>

<br /><br /><br />

<table>
    <tr>
        <td th:text="${#dates.format(objectivePlan.dateStartPlan, 'MMM dd, yyyy')}"></td>
        <td th:text="${objectivePlan.treatmentFrequency}"></td>
        <td th:text="${objectivePlan.dataCollectFrequency}"></td>
    </tr>
</table>

<br /><br /><br />

<b>Domains</b>
<select onchange="addDomain(this);">
    <option th:each="domain : ${domains}"
            th:value="${domain}"
            th:text="${domain.description}">Domains</option>
</select>

</body>
</html>