<!DOCTYPE html>
<html>
<head th:replace="learnerFragments :: standard_head"></head>
<body>

<div th:replace="learnerFragments :: learner_header"></div>

<br />

<table class="table-style-standard">
    <tr>
        <td ><a href="" th:href="@{/learner/user}">Back to Learner List</a></td>
    </tr>
</table>



<br /><br /><br />

<b>Plans</b>
<table class="table-style-standard">
    <tr th:each="plan : ${plans}">
        <td ><a th:href="@{'/learnerPlan/' + ${plan.learnerPlanId}}" th:text="${plan.treatmentDescription}" /></td>
        <td th:text="${plan.dateStartPlan} ? ${#dates.format(plan.dateStartPlan, 'MMM dd, yyyy')}"></td>
    </tr>
</table>

<br /><br /><br />


<a th:href="@{'/learnerPlan/newLearnerPlan/' + ${learner.learnerId}}">Create New Plan</a>

</body>
</html>