<!DOCTYPE html>
<html>
<head th:replace="learnerFragments :: standard_head"></head>
<body>


<form th:action="@{../save}" th:object="${learnerPlan}" method="post">
    <table>
        <tr>
            <td>Description</td>
            <td>
                <input type="text" name="treatmentDescription" th:value="${learnerPlan.treatmentDescription}" />
            </td>
        </tr>
        <tr>
            <td>Start Date</td>
            <td>
                <input type="text" class="datepicker" name="dateStartPlan" th:value="${learnerPlan.dateStartPlan} ? ${#dates.format(learnerPlan.dateStartPlan, 'M/dd/yyyy')}"/>
            </td>
        </tr>

        <tr>
            <td>Treatment Frequency</td>
            <td>
                <select name="treatmentFrequency">
                    <option th:each="treatmentFrequencyOption : ${treatmentFrequencyOptions}"
                            th:value="${treatmentFrequencyOption}"
                            th:text="${treatmentFrequencyOption}"/>
                </select>
            </td>
        </tr>

        <tr>
            <td>Data Collection Frequency</td>
            <td>
                <select name="dataCollectFrequency">
                    <option th:each="dataCollectionOption : ${dataCollectionOptions}"
                            th:value="${dataCollectionOption}"
                            th:text="${dataCollectionOption}"/>
                </select>
            </td>
        </tr>

    </table>

    <input  type="hidden" name="learnerId" th:value="${learner.learnerId}" />
    <input  type="hidden" name="learnerPlanId" th:value="${learnerPlan.learnerPlanId}" />

    <br />
    <br />
    <input type="submit" value="Submit" />
</form>
</body>
</html>