<!DOCTYPE html>
<html>
<head th:replace="learnerFragments :: standard_head"></head>
<body>


<form th:action="@{../save}" th:object="${learnerPlan}" method="post">
    <table>
        <tr>
            <td>Description</td>
            <td>
                <input type="text" name="treatmentDescription" th:value="${learnerPlan.treatmentDescription}" />
            </td>
        </tr>
        <tr>
            <td>Start Date</td>
            <td>
                <input type="text" class="datepicker" name="dateStartPlan" th:value="${learnerPlan.dateStartPlan}" />
            </td>
        </tr>

        <tr>
            <td>Treatment Frequency</td>
            <td>
                <input type="text" name="treatmentFrequency" th:value="${learnerPlan.treatmentFrequency}" />
            </td>
        </tr>

        <tr>
            <td>Data Collection Frequency</td>
            <td>
                <input type="text" name="dataCollectFrequency" th:value="${learnerPlan.dataCollectFrequency}" />
            </td>
        </tr>

        <tr>
            <td>Target Number of Fluency Probes</td>
            <td>
                <input type="text" name="targetNumFluencyProbes" th:value="${learnerPlan.targetNumFluencyProbes}" />
            </td>
        </tr>

        <tr>
            <td>Target enable Retention Probes</td>
            <td>
                <input type="text" name="targetEnableRetentionProbes" th:value="${learnerPlan.targetEnableRetentionProbes}" />
            </td>
        </tr>

    </table>

    <input  type="hidden" name="learnerId" th:value="${learner.learnerId}" />
    <input  type="hidden" name="learnerPlanId" th:value="${learnerPlan.learnerPlanId}" />

    <br />
    <br />
    <input type="submit" value="Submit" />
</form>
</body>
</html>