<!DOCTYPE html>
<html>
<head>
    <title>DDTalk</title>
    <link type="text/css" rel="stylesheet" href="/resources/css/main.css" th:href="@{/resources/css/main.css}" />
</head>
<body>
<table class="table-style-standard">
    <tr>
        <th>Learner</th>
    </tr>
    <tr th:each="learner : ${learners}">
        <td ><a th:href="${learner.learnerId}" th:text="${learner.lastName + ', ' + learner.firstName}"></a> </td>
    </tr>
</table>
<br /><br /><br />
<a href="new">Add Learner</a>
<br /><br /><br />
<br /><br /><br />
<a href="../user/logout">Logout</a>
</body>
</html>