<!DOCTYPE html>
<html>
<head>
    <title>DDTalk</title>
    <link type="text/css" rel="stylesheet" href="/resources/css/main.css" th:href="@{/resources/css/main.css}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>

<fieldset style="width: 650px">
    <legend>Add Targets</legend>
    <form th:action="@{../../addObjectiveTargets}" th:object="${learnerPlanObjective}" method="post">
        <table>
            <tr>
                <td>Targets</td>
                <td>
                    <input type="text" name="targets" value="" style="width: 600px"/>
                </td>
            </tr>
        </table>

        <input  type="hidden" name="planObjectiveId" th:value="${learnerPlanObjective.learnerPlanObjectiveId}" />
        <input  type="hidden" name="learnerPlanId" th:value="${learnerPlan.learnerPlanId}" />

        <br />
        <input type="submit" value="Submit" />

    </form>
</fieldset>

<br /><br />

<b>Targets</b>
<table class="table-style-standard">
    <tr th:each="target : ${objectiveTargets}" th:attr="class=${target.tableRowClass}">
        <td th:text="${target.planObjectiveTarget.targetDescription}" />
    <td th:if="${target.planObjectiveTarget.mastered == 'N'}">
            <a href="" th:href="@{../../removeObjectiveTarget} + '/' + ${learnerPlan.learnerPlanId} + '/' + ${learnerPlanObjective.learnerPlanObjectiveId} + '/' + ${target.planObjectiveTarget.learnerPlanObjectiveTargetId}">Remove</a>
    </td>
    <td th:if="${target.planObjectiveTarget.mastered == 'Y'}">
        <label>Mastered on </label>
        <label th:text="${target.planObjectiveTarget.masteryDate} ? ${#dates.format(target.planObjectiveTarget.masteryDate, 'MMM dd, yyyy')}" />
    </td>
    </tr>
</table>

<br /><br />

<table class="table-style-standard">
    <tr>
        <td ><a href="" th:href="@{/learnerPlan} + '/' + ${learnerPlan.learnerPlanId}">Back to Learner Plan</a></td>
    </tr>
</table>



</body>
</html>