<!DOCTYPE html>
<html>
<head th:replace="learnerFragments :: standard_head"></head>
<body>



<div th:replace="learnerFragments :: learner_header"></div>

<br />

<table class="table-style-standard">
    <tr>
        <td ><a href="" th:href="@{/learnerSession/} + ${learnerPlan.learnerPlanId}">Back to Sessions</a></td>
    </tr>
</table>



<br /><br />

<table class="table-style-standard">
    <tr>
        <td>Plan</td>
        <td th:text="${learnerPlan.treatmentDescription}"></td>
    </tr>
    <tr>
        <td>Session Date</td>
        <td>
            <input type="text" class="datepicker" name="sessionDate" th:value="${learnerSession.sessionDate}" />
        </td>
    </tr>
</table>

<br />

<div th:each="mapEntry : ${domainObjectivesMap}" class="accordion" style="width: 850px">
    <h3 th:text="${mapEntry.key.description}"/>
    <div>
    <table class="table-style-standard">
        <div th:each="mapSessionObjectiveItem, row : ${mapEntry.value}">
            <tr th:if="${mapSessionObjectiveItem.planObjective.objectiveType.typeId == 'C'}" th:id="${mapSessionObjectiveItem.sessionObjective.learnerSessionObjectiveId}">
                <td th:text="${row.index} + 1"></td>
                <td th:text="${mapSessionObjectiveItem.planObjective.objective.description}"></td>
                <div>
                    <td th:text="${mapSessionObjectiveItem.planObjective.condition.description}" />
                    <td th:text="${mapSessionObjectiveItem.planObjective.criteria.description}" />
                    <td>
                        <a href="" th:href="@{../learnerSessionObjectiveTargets} + '/' + ${learnerPlan.learnerPlanId} + '/' + ${mapSessionObjectiveItem.sessionObjective.learnerSessionId} + '/' + ${mapSessionObjectiveItem.planObjective.learnerPlanObjectiveId}">Targets</a>
                    </td>
                </div>
            </tr>
            <tr th:if="${mapSessionObjectiveItem.planObjective.objectiveType.typeId == 'P'}" th:id="${mapSessionObjectiveItem.sessionObjective.learnerSessionObjectiveId}">
                <td th:text="${row.index} + 1"></td>
                <td th:text="${mapSessionObjectiveItem.planObjective.objective.description}"></td>
                <div>
                    <td th:text="${mapSessionObjectiveItem.planObjective.condition.description}" />
                    <td th:text="${mapSessionObjectiveItem.planObjective.criteria.description}" />
                    <td>
                        <select name="mastery">
                            <option th:each="masteryPercent : ${masteryPercents}"
                                    th:value="${masteryPercent}"
                                    th:text="${masteryPercent} + '%'"
                                    th:selected="${masteryPercent == mapSessionObjectiveItem.sessionObjective.sessionValue}"/>
                        </select>
                    </td>
                </div>
            </tr>
        </div>
    </table>
</div>
</div>

<br />

<button onclick="updateSessionData()" class="standardButton">Save Session Data</button>

<form th:action="@{../updateSessionObjective}" th:object="${learnerSession}" method="post" id="update_session_objective_form">
</form>

<script>
    var updateSessionData = function() {
        var theAction = $('#update_session_objective_form').attr('action');
        var theCSRF = $("[name^='_csrf']").attr('value');

        var allObjectiveTableRows = $('tr[id]');
        jQuery.each( allObjectiveTableRows, function( i, val ) {
            var sessionObjectiveId = $(val).attr("id");
            var columns = $(val).find('td');

            var masteryValue = "";
            var masteryCol = $(columns).find('[name="mastery"]');
            if (masteryCol != null) {
                masteryValue = masteryCol.val();
            }

            $.ajax({
                url: theAction,
                type: 'POST',
                headers: {
                    '_csrf':theCSRF
                },
                data: {
                    sessionObjectiveId:sessionObjectiveId, sessionValue:masteryValue,
                    _csrf:theCSRF
                },
                success: function (data) {
                },
                error: function() {
                }
            });
        });

    }

    $(function() {
        $( ".accordion" ).accordion({
            collapsible: true,
            heightStyle: "content"
        });
    });
</script>
</body>
</html>