<!DOCTYPE html>
<html>
<head th:replace="learnerFragments :: standard_head"></head>
<body>
<table class="table-style-standard">
    <tr>
        <th>Learner</th>
    </tr>
    <tr th:each="learner : ${learners}">
        <td ><a th:href="${learner.learnerId}" th:text="${learner.lastName + ', ' + learner.firstName}"></a> </td>
        <td ><a th:href="@{'/learner/edit/' + ${learner.learnerId}}">Edit Learner</a> </td>
        <td ><a th:href="@{'/learner/deleteConfirm/' + ${learner.learnerId}}">Remove Learner</a> </td>
    </tr>
</table>
<br />
<a href="new" class="standardButton">Add Learner</a>
<br /><br /><br />
<a href="../user/logout" class="standardButton">Logout</a>
<br /><br />
<a href="" th:href="@{/lookup/objectivesEdit}" class="standardButton">Objective Maintenance</a>

</body>
</html>