<!DOCTYPE html>
<html>

<head th:replace="learnerFragments :: standard_head"></head>

<body onbeforeunload="updateObjectives()">

<div th:replace="learnerFragments :: learner_header"></div>

<table class="table-style-standard">
    <tr>
        <td ><a href="" th:href="@{/learner} + '/' + ${plan.learnerId}">Back to Learner</a></td>
    </tr>
</table>

<br /><br />

<h3 th:text="'Treatment Plan: ' + ${plan.treatmentDescription}"/>
<table class="table-style-standard">
    <tr>
        <td>Plan Start</td>
        <td>Treatment Frequency</td>
        <td>Data Collection Frequency</td>
    </tr>
    <tr>
        <td th:text="${#dates.format(plan.dateStartPlan, 'MMM dd, yyyy')}"></td>
        <td th:text="${plan.treatmentFrequency}"></td>
        <td th:text="${plan.dataCollectFrequency}"></td>
    </tr>
</table>

<br /><br />
<a th:href="@{/report/plan} + '/' + ${plan.learnerPlanId}" class="standardButton">Plan Report</a>
<br /><br /><br /><br />
<fieldset style="width: 600px">
    <form th:action="@{/report/session} + '/' + ${plan.learnerPlanId}" th:object="${requestDates}" method="post">
        <input type="submit" value="Session Report" class="standardButton"/>
        <br /><br />
        Session Report Date Range:
        <br />
        Start Date
        <input type="text" class="datepicker" name="startDate"/>
        <br />
        End Date
        <input type="text" class="datepicker" name="endDate" />
        <br /><br /><br />
        Note: If no date range is given, report will default to all session data
    </form>
</fieldset>

</body>
</html>