<!DOCTYPE html>
<html>

<head th:replace="learnerFragments :: standard_head"></head>

<body>

<div th:replace="learnerFragments :: learner_header"></div>

<table class="table-style-standard">
    <tr>
        <td ><a href="" th:href="@{/learner} + '/' + ${plan.learnerId}">Back to Learner</a></td>
    </tr>
</table>

<br /><br />

<h3 th:text="'Treatment Plan: ' + ${plan.treatmentDescription}"/>
<table class="table-style-standard">
    <tr>
        <td>Plan Start</td>
        <td>Treatment Frequency</td>
        <td>Data Collection Frequency</td>
    </tr>
    <tr>
        <td th:text="${#dates.format(plan.dateStartPlan, 'MMM dd, yyyy')}"></td>
        <td th:text="${plan.treatmentFrequency}"></td>
        <td th:text="${plan.dataCollectFrequency}"></td>
    </tr>
</table>

<br /><br />

<div th:each="mapEntry : ${domainObjectivesMap}" class="accordion" style="width: 1000px">
    <h3 th:text="${mapEntry.key.description}"/>
    <div>
        <table class="table-style-standard">
            <div th:each="planObjective, row : ${mapEntry.value}">
                <tr th:if="${planObjective.objectiveType.typeId == 'C'}" th:id="${planObjective.learnerPlanObjectiveId}">
                    <td th:text="${row.index} + 1"></td>
                    <td th:text="${planObjective.objective.description}"></td>
                    <div>
                        <td>
                            <select name="mastery">
                                <option th:each="masteryCount : ${masteryCounts}"
                                        th:value="${masteryCount}"
                                        th:text="${masteryCount}"
                                        th:selected="${masteryCount == planObjective.masteryValue}"/>
                            </select>
                        </td>
                        <td>
                            <select name="condition">
                                <option th:each="condition : ${conditions}"
                                        th:value="${condition.conditionId}"
                                        th:text="${condition.description}"
                                        th:selected="${planObjective.condition} ? ${condition.conditionId == planObjective.condition.conditionId}"/>
                            </select>
                        </td>
                        <td th:text="${planObjective.criteria.description}" />
                        <td>
                            <a href="" th:href="@{learnerPlanObjectiveTargets} + '/' + ${plan.learnerPlanId} + '/' + ${planObjective.learnerPlanObjectiveId}">Targets</a>
                        </td>
                        <td>
                            <a href="" th:href="@{removeObjective} + '/' + ${plan.learnerPlanId} + '/' + ${planObjective.learnerPlanObjectiveId}">Remove</a>
                        </td>
                    </div>
                </tr>
                <tr th:if="${planObjective.objectiveType.typeId == 'P'}" th:id="${planObjective.learnerPlanObjectiveId}">
                    <td th:text="${row.index} + 1"></td>
                    <td th:text="${planObjective.objective.description}"></td>
                    <div>
                        <td>
                            <select name="mastery">
                                <option th:each="masteryPercent : ${masteryPercents}"
                                        th:value="${masteryPercent}"
                                        th:text="${masteryPercent} + '%'"
                                        th:selected="${masteryPercent == planObjective.masteryValue}"/>
                            </select>
                        </td>
                        <td>
                            <select name="condition">
                                <option th:each="condition : ${conditions}"
                                        th:value="${condition.conditionId}"
                                        th:text="${condition.description}"
                                        th:selected="${planObjective.condition} ? ${condition.conditionId == planObjective.condition.conditionId}"/>
                            </select>
                        </td>
                        <td th:text="${planObjective.criteria.description}" />
                        <td>
                            <a href="" th:href="@{removeObjective} + '/' + ${plan.learnerPlanId} + '/' + ${planObjective.learnerPlanObjectiveId}">Remove</a>
                        </td>
                    </div>
                </tr>
            </div>
        </table>
    </div>
</div>

<br />

<button onclick="updateObjectives()" class="standardButton">Save Changes</button>

<form th:action="@{updateObjectives}" th:object="${plan}" method="post" id="update_objectives_form">
</form>

<br /><br />

<fieldset style="width: 600px">
    <legend>Add Objective</legend>
    <div>
        <div>
            <label for="select-domain"></label>
            <select id="select-domain" placeholder="Select a domain..." style="width: 250px">
                <option th:each="domain : ${emptyDomains}"
                        th:value="${domain.domainId}"
                        th:text="${domain.description}"/>
            </select>
        </div>
    </div>

    <div>
        <select id="select-objective" placeholder="Select an objective..." style="width: 500px"/>
    </div>

    <br />

    <div>
        <select id="select-objective-type" style="width: 250px" placeholder="Select Objective Type...">
            <option th:each="objectiveType : ${objectiveTypes}"
                    th:value="${objectiveType.objectiveTypeId}"
                    th:text="${objectiveType.typeDescription}"/>
        </select>

        <select id="select-criteria" style="width: 250px" placeholder="Select Criteria...">
            <option th:each="criteria : ${criterias}"
                    th:value="${criteria.criteriaId}"
                    th:text="${criteria.description}"/>
        </select>
     </div>

    <br />

    <div id="retention-div" hidden="hidden">
        <label for="retention-probe-enabled">Enable Retention Probe </label>
        <input id="retention-probe-enabled" type="checkbox" checked="checked" />
        <br />
        <label for="retention-probe-num-days">Days after mastery on which retention probe kicks in: </label>
        <select id="retention-probe-num-days">
            <option th:each="retentionDay : ${retentionDays}"
                    th:value="${retentionDay}"
                    th:text="${retentionDay}"/>
        </select>
        <br /><br />
    </div>


    <form th:action="@{addObjective}" th:object="${addObjectiveRequest}" method="post" id="add_objective_form">
    </form>

    <div type="hidden" th:value="${plan.learnerPlanId}" id="postPlanId"/>
    <button onclick="addObjective()" class="standardButton">Add Objective</button>
</fieldset>

<br /><br />
<a th:href="@{/report/plan} + '/' + ${plan.learnerPlanId}" class="standardButton">Report</a>

<script>
    $('#select-domain').selectize({
        create: false,
        dropdownParent: 'body',
        onChange: function(value) {
            $.ajax({
                url: '../lookup/objectives/' + value,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var selectize = $('#select-objective')[0].selectize;
                    selectize.clearOptions();
                    selectize.renderCache = {};
                    selectize.load( function(callback) {
                        callback(data);
                    });
                }
            });
        }
    });

    $('#select-objective').selectize({
        valueField: 'objectiveId',
        labelField: 'description',
        searchField: 'description',
        sortField: {
            field: 'description',
            direction: 'asc'
        },
        create: true
    });

    $('#select-objective-type').selectize({
        create: false,
        onChange: function(value) {
            var retentionDiv = $('#retention-div');
            var shouldDisplay = (value == "1") ? true : false;
            retentionDiv.toggle(shouldDisplay);

            $.ajax({
                url: '../lookup/criteriaByObjectiveTypeId/' + value,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var selectizeCriteria = $('#select-criteria')[0].selectize;
                    selectizeCriteria.clearOptions();
                    selectizeCriteria.renderCache = {};
                    selectizeCriteria.load( function(callback) {
                        callback(data);
                    });
                }
            });
        }
    });

    $('#select-criteria').selectize({
        valueField: 'criteriaId',
        labelField: 'description',
        sortField: {
            field: 'consecutiveToMastered',
            direction: 'asc'
        },
        create: false
    });


    var addObjective = function() {
        var selectizeObjective = $('#select-objective')[0].selectize;
        var selectizeDomain = $('#select-domain')[0].selectize;
        var selectizeObjectiveType = $('#select-objective-type')[0].selectize;
        var selectizeCriteria = $('#select-criteria')[0].selectize;

        var planId = $('#postPlanId').attr('value');
        var objectiveId = selectizeObjective.getValue();
        var domainId = selectizeDomain.getValue();
        var objectiveTypeId = selectizeObjectiveType.getValue();
        var criteriaId = selectizeCriteria.getValue();

        if (planId.length == 0) {
            alert("PlanId is missing");
            return;
        }
        if (domainId.length == 0) {
            alert("Must select a Domain");
            return;
        }
        if (objectiveId.length == 0) {
            alert("Must select an objective");
            return;
        }
        if (objectiveTypeId.length == 0) {
            alert("Must select an objective type");
            return;
        }
        if (criteriaId.length == 0) {
            alert("Must select a criteria");
            return;
        }

        var retentionProbeEnabled = $('#retention-probe-enabled').val();
        var retentionProbeNumDays = $('#retention-probe-num-days').val();

        var theAction = $('#add_objective_form').attr('action');
        var theCSRF = $("[name^='_csrf']").attr('value');
        $.ajax({
            url: theAction,
            type: 'POST',
            headers: {
                '_csrf':theCSRF
            },
            data: {
                learnerPlanId: planId,
                domainId: domainId,
                objectiveId: objectiveId,
                objectiveTypeId: objectiveTypeId,
                criteriaId: criteriaId,
                retentionProbeEnabled: retentionProbeEnabled,
                retentionProbeNumDays: retentionProbeNumDays,
                _csrf:theCSRF
            },
            dataType:'json',
            success: function (data) {
                location.reload();
            },
            error: function() {
            }
        });
    };

    var updateObjectives = function() {
        var theAction = $('#update_objectives_form').attr('action');
        var theCSRF = $("[name^='_csrf']").attr('value');

        var allObjectiveTableRows = $('tr[id]');
        jQuery.each( allObjectiveTableRows, function( i, val ) {
            var planObjectiveId = $(val).attr("id");
            var columns = $(val).find('td');

            var masteryCol = $(columns).find('[name="mastery"]');
            var masteryValue = masteryCol.val();

            var conditionCol = $(columns).find('[name="condition"]');
            var conditionValue = conditionCol.val();

            $.ajax({
                url: theAction,
                type: 'POST',
                headers: {
                    '_csrf':theCSRF
                },
                data: {
                    planObjectiveId:planObjectiveId, conditionId:conditionValue, masteryValue:masteryValue,
                    _csrf:theCSRF
                },
                success: function (data) {
                },
                error: function() {
                }
            });
        });

    }

    $( document ).ready(function() {
        var selectize = $('#select-domain')[0].selectize;
        selectize.clear(true);

        selectize = $('#select-objective-type')[0].selectize;
        selectize.clear(true);

        $( ".accordion" ).accordion({
            collapsible: true,
            heightStyle: "content"
        });
        $('.accordion').collapse({
            toggle: false
        });
    });

</script>

</body>
</html>