<!DOCTYPE html>
<html>
<head>
    <title>DDTalk</title>
    <link rel="stylesheet" href="/resources/css/style.css" />

    <style th:replace="learnerCssFragments :: learner_table_standard"></style>
</head>
<body>

<div th:replace="learnerFragments :: learner_header"></div>

<br /><br /><br />

<b>Plans</b>
<table class="table-style-standard">
    <tr th:each="plan : ${plans}">
        <td ><a th:href="@{'/learnerPlan/' + ${plan.learnerPlanId}}" th:text="${plan.treatmentDescription}" /></td>
        <td th:text="${#dates.format(plan.dateStartPlan, 'MMM dd, yyyy')}"></td>
    </tr>
</table>

</body>
</html>