<!DOCTYPE html>
<html>

<head th:replace="learnerFragments :: standard_head"></head>

<body>

<a th:href="@{/learner/user}" class="standardButton">Back to Main</a>
<br /><br />

<form th:action="@{updateObjectives}" th:object="${plan}" method="post" id="update_objectives_form" />

<br /><br />

<div>
    <div>
        <label for="select-domain"></label>
        <select id="select-domain" placeholder="Select a domain..." style="width: 250px">
            <option th:each="domain : ${domains}"
                    th:value="${domain.domainId}"
                    th:text="${domain.description}"/>
        </select>
    </div>
</div>

<table id="objectives_table" class="table-style-standard">
</table>

<script>
    $('#select-domain').selectize({
        create: true,
        dropdownParent: 'body',
        onChange: function(value) {
            $.ajax({
                url: '../lookup/objectiveTable/' + value,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    generateTable(data);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    });

    function generateTable(data) {

        var tableElement = $("#objectives_table");
        tableElement.empty();
        tableElement.append(data);
    };

    function deleteRow(r) {
        $.ajax({
            url: '../lookup/objectiveRemove/' + r.id,
            type: 'GET',
            dataType: 'text',
            success: function (data) {
                if(data == "OK") {
                    var i = r.parentNode.parentNode.rowIndex;
                    document.getElementById("objectives_table").deleteRow(i);
                }
                else {
                    alert("Cannot remove Objective since it is attached to a learner plan.");
                }
            }
        });
    };

</script>

</body>
</html>